@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">*Welcome To MegaMinds*</h4>
    <p>Username & pass = MegaMinds*</p>
    

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
